<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--消息队列类型 MQ类型[0=None;1=ActiveMQ;2=Kafka;3=RabbitQM-->
		<add key="MQType" value="RabbitQM" />
		<!--服务地址-->
		<add key="MQBrokerUri" value="192.168.3.128" />
		<!--用户名-->
		<add key="MQUserName" value="root" />
		<!--密码-->
		<add key="MQPassword" value="123456" />
		
		<!--队列名称-->
		<add key="MQQueueName" value="testQueueName" />
		
		<!--ActiveProducerConfig / ActiveSubscribeConfig-->
		<!--指定使用队列的模式 Queue / Topic-->
		<add key="ActiveMQType" value="Queue" />
		<!--队列过滤字段-->
		<add key="ActiveMQFilterName" value="" />

		<!--KafkaProducerConfig / KafkaSubscribeConfig-->
		<!--Acks All / None / Leader-->
		<add key="KafkaAck" value="Queue" />
		
		<!--消费者组ID-->
		<add key="KafkaGroupId" value="" />
		<!--是否自动提交-->
		<add key="KafkaEnableAutoCommit" value="false" />
		<!--消费失败是否转发到DLQ队列-->
		<add key="KafkaTransformToDLQ" value="false" />
		<!--AutoOffsetReset Earliest / Latest / Error-->
		<add key="KafkaOffsetReset" value="Earliest" />

		<!--RabbitProducerConfig / RabbitSubscribeConfig-->
		<!--端口-->
		<add key="RabbitPort" value="5672" />
		<add key="RabbitVirtualHost" value="" />
		<!--队列类型 simple / direct / fanout / topic-->
		<add key="RabbitExchangeType" value="direct" />
		<!--交换名称-->
		<add key="RabbitExchangeName" value="" />
		<!--路由Key-->
		<add key="RabbitRoutingKey" value="" />
		<!--心跳超时时间s-->
		<add key="RabbitHeartbeat" value="5000" />
		<!--设置是否持久化-->
		<add key="RabbitDurable" value="false" />
		
	</appSettings>
</configuration>